

.home {
  display: flex;
  justify-content: center;
}

.home__actions {
  display: flex;
  justify-content: center;
  width: 400px;
}

.home__button {
  width: 50%;
  margin: 5px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.home__timer {
  font-size: 250px;
}

.content {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__sort {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


.info__chart {
  height: 400px;
  width: 400px;
}
